.login-container {
  background-image: linear-gradient(117.79deg, #20284D 0%, #1A4265 36.61%, #106F8F 100%);
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  align-items: center;
  justify-content: space-between;
  height: 430px;
}
.inputs{
  width: 80%;
}
.form{
  width: 100%;
}

.button-login{
  width: 80%;
}

.button-login:hover{
  background-color: rgba($color: #fff, $alpha: 0.8);
}

.opcoes{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.opcoes a{
  text-decoration: none;
  color:#fff;
}

@media only screen and (max-width: 600px) {
  img{
    margin-top: 35px;
  }
  .opcoes{
    margin-bottom: 35px;
  }

}

// /* input color class */
// ::ng-deep .mat-form-field{
//   color:#fff !important;
// }
// ::ng-deep input.mat-input-element {
//   color: #fff !important;
// }

// /* Change label color on focused */
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//   color: #50d0fb !important;
// }

// /* underline border color on focused */
// ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//   background-color: #50d0fb !important;
// }
// ::ng-deep .mat-form-field-empty.mat-form-field-label {
//   color: #fff;
//   }
// ::ng-deep .mat-form-field-underline {
//     background-color: #fff !important;
// }
